<%- include('../partials/head', {title: 'Admnistrador de usuarios', stylesheets: ["/css/admin.css", "/css/header.css", "/css/footer.css"]}) %>

    <body>
        <%- include('../partials/admin-header') %>
            </header>
            <main>
                <section class="user-list">
                    <h1>Registro de usuarios</h1>

                    <button class="user-list-addUser">Nuevo Usuario<i class="fa-solid fa-plus"></i></button>
                    <article class="user-list-categories">
                        <section class="user-list-conteiner">
                        <p class="user-list-cat-name">Nombre y apellido</p>
                        <p class="user-list-cat-userName">UserName</p>
                        <p class="user-list-cat-email">Email</p>
                        <p class="user-list-cat-pass">Contraseña</p>
                        <p class="user-list-cat-ac">Acciones</p>
                    </section>
                    </article>
                    <button><i class="fa-solid fa-user-pen"></i></button><button><i
                            class="fa-solid fa-trash"></i></button>

                    <div class="button-div">
                        <button>Continuar<i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>