<header>
    <div class = "logo">
        <a href="/"><img src = "images/logo.svg" alt = "logo-banner"></a>
    </div>
    <nav>
        <section class="nav-left">
            <ul class="sites">
                <li class="nav-icons"><i class="fas fa-bars"></i></li>
                <li class="nav-icons"><a class="nav-icons-href" href="/login"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </section>
        <section class="nav-right">
            <ul class="sites">
                <div class="search-bar">
                    <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                    <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                </div>
                <li class="nav-icons"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </section>
    </nav>