<section class="items-card-options">
    <ul>
        <li><a href="#">Eliminar</a></li>
        <li><a href="#">Mas productos del vendedor</a></li>
        <li><a href="#">Comprar ahora</a></li>
        <li><a href="#">Guardar para despues</a>
        </li>
    </ul>
</section>