<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolHardware</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class = "logo">
            <a href="/"><img src = "images/logo.svg" alt = "logo-banner"></a>
        </div>
        <nav>
            <section class="nav-left">
                <ul class="sites">
                    <li class="nav-icons"><i class="fas fa-bars"></i></li>
                    <li class="nav-icons"><a class="nav-icons-href" href="/login"><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </section>
            <section class="nav-right">
                <ul class="sites">
                    <div class="search-bar">
                        <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                        <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                    </div>
                    <li class="nav-icons"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </section>
        </nav>
        <div class="banner">
            <img src="images/black-friday-banner.webp" alt="banner">
        </div>
    </header>
    <main>
            <!-- <section>
                <article class="card">
                    <div class="card-img"><img src="" alt=""></div>
                    <h2 class="card-name-prod"></h2>
                    <p class="card-desc-prod"></p>
                    <p class="card-rev-prod"></p>
                    <h3 class="card-price-normal"></h3>
                    <h3 class="card-price-discount"></h3>
                </article>
            </section> -->

            <section>
                <h2 class="card-titulo">¡Ofertas del BLACK FRIDAY!</h2>
                <div class="container">
                <article class="card">
                    <div>
                        <img class="card-img" src="images/notebook.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="card-name-prod">Notebook Asus TUF Gaming</h2>
                        <h4 class="card-price-normal">$760.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$380.000</h3>
                    </div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>
                      
                </article>
    
                <article class="card">
                    <div>
                        <img class="card-img" src="images/monitor.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="card-name-prod">Monitor LED Asus TUF 25"</h2>
                        <h4 class="card-price-normal">$320.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$160.000</h3>
                    </div>
                    <div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>  
                    </div> 
                </article>
    
                <article class="card">
                    <div>
                        <img class="card-img" src="images/microcesador.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="card-name-prod">Procesador AMD Ryzen 7 </h2>
                        <h4 class="card-price-normal">$120.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$60.000</h3>
                    </div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button> 
                </article>

                <article class="card">
                    <div>
                        <img class="card-img" src="images/auricular.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="card-name-prod"> Corsair HS35 Stereo</h2>
                        <h4 class="card-price-normal">$21.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$11.000</h3>
                    </div>
                    <div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>  
                    </div> 
                </article>
                </div>
            </section>
    </main>
    <footer>
        <section class="footer-section">
            <section class="social-media">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-telegram"></i></li>
                    <li class="licenter"><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </section>
            <section class="contact-info">
                <ul class="contact-info-i">
                    <li><i class="fa-brands fa-whatsapp"></i><p>11 1234-5678</p></li>
                    <li><i class="fa-solid fa-location-dot"></i><p>Calle 123, CABA, Argentina</p></li>
                    <li><i class="fa-solid fa-envelope"></i><p>info@coolhard.com</p></li>
                </ul>
            </section>    
        </section>
    </footer>
</body>

</html>
