<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolHardware</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class = "logo">
            <img src = "images/logo.svg" alt = "logo-banner">
        </div>
        <nav>
            <span>
                <i class="fas fa-bars"></i>
                <!-- <nav></nav> -->
                <i class="fa-solid fa-cart-shopping"></i>
            </span>
            
        </nav>
        <div class="banner">
            <img src="images/black-friday-banner.webp" alt="banner">
        </div>
    </header>
    <main>
        
            <section>
                <article class="card">
                    <div class="card-img"><img src="" alt=""></div>
                    <h2 class="card-name-prod"></h2>
                    <p class="card-desc-prod"></p>
                    <p class="card-rev-prod"></p>
                    <h3 class="card-price-normal"></h3>
                    <h3 class="card-price-discount"></h3>
                </article>
            </section>

            <section>
                <h2>¡Ofertas de esta semana!</h2>
                <article>
                    <div>
                        <img class="fot" src="images/notebook.jpg" alt="">
                    </div>
                        <h5>$380.000</h5>
                        <p>50% OFF</p>
                        <p>Notebook Asus TUF Gaming</p>
                    
                </article>
    
                <article>
                    <div>
                        <img src="images/monitor.jpg" alt="">
                    </div>
                    <div>
                        <h5>$160.000</h5>
                        <p>50% OFF</p>
                        <p>Monitor LED Asus TUF 25"</p>
                    </div>   
                </article>
    
                <article>
                    <div>
                        <img src="images/microcesador.jpg" alt="">
                    </div>
                    <div>
                        <h5>$60.000</h5>
                        <p>50% OFF</p>
                        <p>Microprocesador AMD Ryzen 7 </p>
                    </div>
                </article>
            </section>
            

    </main>
    <footer>
        Hola 2
    </footer>
</body>

</html>
