<%- include('./partials/head') %>  

<body>
    <%- include('./partials/header') %>  
        <div class="banner">
            <img src="images/black-friday-banner.webp" alt="banner">
        </div>
    </header>
    <main>
        <section>
            <h2 class="card-titulo">¡Ofertas del BLACK FRIDAY!</h2>
            <div class="container">
                <article class="card">
                    <div>
                        <a href="/productDetail"><img class="card-img" src="images/notebook.jpg" alt=""></a> 
                    </div>
                    <div class="product-info">
                        <h2 class="card-name-prod">Notebook Asus TUF Gaming</h2>
                        <h4 class="card-price-normal">$760.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$380.000</h3>
                    </div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>
                </article>

                <article class="card">
                    <div>
                        <img class="card-img" src="images/monitor.jpg" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="card-name-prod">Monitor LED Asus TUF 25"</h2>
                        <h4 class="card-price-normal">$320.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$160.000</h3>
                    </div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>  
                </article>

                <article class="card">
                    <div>
                        <img class="card-img" src="images/microcesador.jpg" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="card-name-prod">Procesador AMD Ryzen 7 </h2>
                        <h4 class="card-price-normal">$120.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$60.000</h3>
                    </div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button> 
                </article>

                <article class="card">
                    <div>
                        <img class="card-img" src="images/auricular.jpg" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="card-name-prod"> Corsair HS35 Stereo</h2>
                        <h4 class="card-price-normal">$21.000</h4>
                        <p class="card-desc-prod">50% OFF</p>
                        <h3 class="card-price-discount">$11.000</h3>
                    </div>
                    <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>  
                </article>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>  
</body>

</html>
