<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolHardware</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class = "logo">
            <a href="/"><img src = "images/logo.svg" alt = "logo-banner"></a>
        </div>
        <nav>
            <section class="nav-left">
                <ul class="sites">
                    <li class="nav-icons"><i class="fas fa-bars"></i></li>
                    <li class="nav-icons"><a class="nav-icons-href" href="/login"><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </section>
            <section class="nav-right">
                <ul class="sites">
                    <div class="search-bar">
                        <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                        <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                    </div>
                    <li class="nav-icons"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </section>
        </nav>
        <div class="form-banner-register">
            <img src="images/background-black-design-14.webp" alt="banner">
        </div>
    </header>

    <main class="all-form-register">
        <!-- register form -->
        <div class="center"></div>
        <h1>Crea tu cuenta</h1>

        <form action="POST">
            <!-- Username -->
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label> Nombre</label>
            </div>
            <!-- Nombre y apellido -->
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label> Apellido</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label> Nombre de usuario</label>
            </div>
            <!-- email -->
            <div class="txt_field">
                <input type="email" required>
                <span></span>
                <label> Email</label>
            </div>
            <!-- pass -->
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>

            <input type="submit" value="Ingresa" >
            <div class="signup_link">
                Ya estas registrado? <a href="/login">Inicia sesion</a>
            </div>
            


        </form>
    </main>
    <footer>
        <section class="footer-section">
            <section class="social-media">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-telegram"></i></li>
                    <li class="licenter"><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </section>
            <section class="contact-info">
                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i><p>11 1234-5678</p></li>
                    <li><i class="fa-solid fa-envelope"></i><p>info@coolhard.com</p></li>
                    <li><i class="fa-solid fa-location-dot"></i><p>Calle 123, CABA, Argentina</p></li>
                </ul>
            </section>    
        </section>
    </footer>
</body>

</html>
