/* Admin view */

.adminbuttom {
    height: 0;
}

.adminbuttom .fa-screwdriver-wrench {
    text-decoration: none;
    color: var(--platinum);
    padding-bottom: -322px;
    z-index: 10;
    position: relative;
    top: -80px;
    left: 160px;
}

.btn-warning {
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: var(--blue);

    overflow: hidden;
    margin-top: 30px;
    text-align: left;
}

.btn-warning input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(3);
    opacity: 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.wrapper textarea {
    width: 100%;
    padding: 0 5px;
    height: 100px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
    margin-bottom: 10px;
}

textarea:is(:focus, :valid) {
    border-width: 2px;
    padding: 14px;
    border-color: #4671EA;
}

textarea::-webkit-scrollbarP {
    width: 0px;
}

.all-form-admin {
    z-index: 10;
    position: relative;
    bottom: -10px;
    padding: 0 5%;
}

.all-form-admin {
    color: var(--platinum);
}

/* UserList */

.user-list-conteiner {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.user-list-0 {
    height: 40px;
    width: 25%;
    align-self: auto;
    background-color: #79799a;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px solid white;
}

.user-list-01{
    display: flex;
    height: 40px;
    width: 15%;
    margin: 2px;
    align-self: auto;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
}

.user-list-02 {
    height: 40px;
    width: 50%;
    margin: 2px;
    align-self: auto;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
}

.user-list-03{
    height: 40px;
    width: 50%;
    margin: 2px;
    align-self: auto;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
}

.user-list-04 {
    height: 40px;
    width: 50%;
    margin: 2px;
    align-self: auto;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
}

.user-list-05 {
    height: 40px;
    width: 50%;
    margin: 2px;
    align-self: auto;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
}

.user-list-06 {
    height: 40px;
    width: 50%;
    margin: 2px;
    align-self: auto;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid white;
}













/*Tablets*/
@media (min-width: 426px) {}

/*Laptop*/
@media (min-width: 769px) {}