/*Cart*/

.nav-cart {
    border-radius: 20px;
}

main .product-cart {
    text-align: left;
    color: var(--platinum);
}

main .product-cart h1 {
    margin: 10px 30px;
}

main .product-cart .cart-container {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--platinum);
    border-radius: 20px;
}

main .product-cart .cart-container .added-to-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .product-cart .cart-container .added-to-cart img {
    width: 30%;
    border-radius: 10px;
}

main .product-cart .cart-container .added-to-cart .product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

main .product-cart .cart-container .added-to-cart .product-info .product-name {
    width: 60%;
    align-self: center;
}

main .product-cart .cart-container .added-to-cart .product-info .product-description {
    width: 60%;
    align-self: center;
}

main .product-cart .cart-container .added-to-cart .product-info .product-price {
    width: 40%;
    text-align: right;
    align-self: center;
}

main .product-cart .cart-container .added-to-cart .product-info i {
    align-self: flex-end;
}

main .product-cart .cart-container hr {
    width: 100%;
    margin: 10px 0;
    border: 1px solid var(--platinum);
}

main .product-cart .price-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--platinum);
    border-radius: 20px;
    justify-content: space-between;
    align-content: space-between;
}

main .product-cart .price-container .delivery-adress {
    width: 60%;
    margin-bottom: 5px;
}

main .product-cart .price-container .delivery-price {
    width: 40%;
    text-align: right;
    margin-bottom: 5px;
}

main .product-cart .price-container .total-title {
    width: 60%;
    margin-top: 5px;
}

main .product-cart .price-container .total-price {
    width: 40%;
    text-align: right;
    margin-top: 5px;
}

main .product-cart .button-div {
    display: flex;
    justify-content: right;
}

main .product-cart .button-div button {
    display: flex;
    width: 160px;
    height: 40px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 20px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    justify-content: space-evenly;
    align-items: center;
}

/*Tablets*/
@media (min-width: 426px) {

    /* Carrito */

    main .product-cart h1 {
        font-size: 2em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-name {
        font-size: 1.5em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-description {
        font-size: 1.17em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-price {
        font-size: 1.5em;
    }

    main .product-cart .cart-container .added-to-cart .product-info i {
        font-size: 1.5em;
    }

    main .product-cart .price-container .delivery-adress {
        font-size: 1em;
    }

    main .product-cart .price-container .delivery-price {
        font-size: 1em;
    }

    main .product-cart .price-container .total-title {
        font-size: 1.5em;
    }

    main .product-cart .price-container .total-price {
        font-size: 1.5em;
    }
}

/*Laptop*/
@media (min-width: 769px) {

    main .product-cart .cart-container .added-to-cart img {
        width: 20%;
        border-radius: 20px;
        margin-left: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    main .product-cart .cart-container .added-to-cart .product-info {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }

    /* main .product-info .product-actions{} */

    main .product-info .product-actions a {
        color: var(--platinum);
        text-decoration: none;
        margin-left: 10px;
    }

    main .product-cart .button-div button {
        display: flex;
        width: 160px;
        height: 40px;
        border: 2px solid var(--platinum);
        background: var(--blue);
        border-radius: 20px;
        font-size: 18px;
        color: var(--platinum);
        font-weight: 700;
        outline: none;
        justify-content: space-evenly;
        align-items: center;
        top: -160px;
        position: relative;
    }

    main .product-cart .cart-container {
        padding: 10px;
        margin: 10px 0;
        border: 2px solid var(--platinum);
        border-radius: 20px;
        width: 60%;
    }

    main .product-cart .price-container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px 0;
        border: 2px solid var(--platinum);
        border-radius: 20px;
        justify-content: space-between;
        align-content: space-between;
        width: 35%;
        z-index: 10;
        position: relative;
        margin-left: 705px;
        top: -515px;
    }
}