/*Estilo Detalle de producto*/

article.detail {
    margin: 15px 0px;
}

main section div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section article div.img-producto {
    /* margin: auto; */
    width: 100%;
}

main section article div.img-producto .card-img {
    width: 100%;
    border-radius: 20px;
    min-height: 300px;
    min-width: 300px;
    max-width: 301px;
    max-height: 301px;
}

main section article div.producto-info {
    width: 100%;
    /* margin: auto; */
}

div h2.card-name-producto {
    margin: 10px 0;
    color: var(--platinum);
}

div h3.card-price {
    color: var(--platinum);
    margin: 10px 0;
    font-size: 40px;
}

main section article.detail div.producto-info p.card-price-discount {
    display: inline-block;
    color: var(--blue);
    font-size: 20px;
    margin-top: 10px;
}

div p.card-price-linedthrough {
    display: inline-block;
    color: var(--platinum);
    font-size: 25px;
    margin-top: 10px;
    text-decoration: line-through;

}

div.producto-info p.icono {
    color: #76b8e4;
    margin: 5px 0;
}

div.producto-info p.icono i {
    margin: 5px;
}

article.detail div button {
    align-self: flex-end;
    width: 90%;
    height: 40px;
    border: 2px solid var(--platinum);
    border-radius: 20px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    margin: 15px;
    cursor: pointer;
}

article.detail div button.productBuy, article.detail div button.productEdit {
    background: var(--blue);
}

article.detail div button.productDelete {
    background: crimson;
    margin-top: 2px;
}

article.detail div.descripcion {
    text-align: center;
    margin: 15px;
    line-height: 25px;
    color: var(--platinum);
}

article.detail div.descripcion h3 {
    margin-bottom: 10px;
}


/*Tablets*/
@media (min-width: 426px) {

    main section article.detail{
        margin-top: 30px;
    }

    main section article.detail div.contenedor-detail{
        display: flex;
        justify-content: space-between;
    }

    main section article div.img-producto {
        width: 50%;
        align-self: center;
        margin: auto 0;
       
    }
    main section article div.img-producto img.card-img{  
        min-height: 280px;
        min-width: 280px;
        max-width: 281px;
        max-height: 281px;
    } 

    main section article div.producto-info {
        width: 45%;
        align-self: center;
    }

    main section article.detail div.producto-info h2{
        font-size: 25px;
    }
    
    article.detail div.descripcion{
        margin: 30px;
    }
    article.detail div.descripcion h3{
        font-size: 20px;
    }

    article.detail div.descripcion ul li{
        margin: 5px;
        font-size: 17px;
    }
}

/*Laptop*/
@media (min-width: 769px) {
    
    /*Detalle de Producto*/

    main section article div div.producto-info p{
        margin-top: 10px;
    }

     main section article div.img-producto img.card-img{
        
        min-height: 380px;
        min-width: 380px;
        max-width: 381px;
        max-height: 381px;
    } 

    article.detail div.contenedor-detail button:hover {
        border-color: var(--blue);
        transition: .5s;
    }


}