/*  register  style */
.form-banner-register img {
    width: 100%;
    height: 740px;
}

.all-form-register {
    position: relative;
    padding: 0 5%;
    background-image: url("/images/background-black-design-14.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.all-form-register h1 {
    color: var(--platinum);
    text-align: center;
    padding: 20px 0;
}

/* logIn style */
.all-form {
    position: relative;
    padding: 0 5%;
    background-image: url("/images/background-black-design-14.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.all-form h1 {
    color: var(--platinum);
    text-align: center;
    padding: 20px 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    border-radius: 10px;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-top: 30px;
}

form .select_field {
    position: relative;
    margin-top: 30px;
}

.txt_field input:empty {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .9s;
}

.select_field select {
    /* width: 50%; */
    color: var(--platinum);
    display: block;
    background-color: transparent;
    margin-top: 55px;
    font-size: 16px;
    border-width: 2px;
    border-color: #adadad;
    transition:.9s;
    border-radius: 10px;
}

.select_field select option {
    color: var(--platinum);
    background-color: var(--dark-liver);

}

.select_field select:focus {
    border-color: var(--blue);
}

.select_field .select_label {
    color: var(--blue);
    left: 5px;
    position: absolute;
    top: -30px;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blue);
    transition: .9s;
}

.txt_field input:focus~label,
.txt_field label {
    top: -5px;
    color: var(--blue)
}

.txt_field input:focus~span::before {
    width: 100%;
}

form p {
    text-align: left;
    color: orangered
}



.pass {
    margin: 10px 0;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 25px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    margin-top: 30px;
}

input[type="submit"]:hover {
    border-color: var(--blue);
    transition: .5s;
}

.signup_link {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: var(--blue);
    text-decoration: none;
}

.signup_link a {
    text-decoration: underline;
}



/*  register  style */
.form-banner-register img {
    width: 100%;
    height: 710px;
}

.up-load{
    text-align: left;
}

.all-form-register form .btn-warning {
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    color: #fff;
    background-color: var(--blue);
    border: 0;
    overflow: hidden;
    display: block;
    margin-top: 10px;
}

.btn-warning input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(3);
    opacity: 0;
}




.fa-eye-slash {
    font-weight: 400;
    color: white;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.remindMe{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: right;
}

.remindMe label{
    color: var(--platinum);
    font-size: 20px;
}

.remindMe input{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    align-self: center;
}