.banner img {
    display: block;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

main section div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    color: var(--platinum);
    padding: 10px;
    border: solid 2px var(--dark-liver);
    border-radius: 20px;
    margin: 15px 0;
    width: 100%;
    transition: box-shadow 400ms;
}

.card-titulo {
    color: var(--platinum);
    margin: 30px 0 0;
}

.card-img {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 250px;
    min-width: 250px;
    max-width: 251px;
    max-height: 251px;
}

article.card .product-info {
    width: 100%;
    align-self: flex-end;
}

article.card a{
    width: max-content;
}

article.card button{
    align-self: flex-end;
    padding: 0 15px;
    height: 40px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 20px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}


.card a{
    text-decoration: none;
    color: var(--platinum);
}

.card-price-normal {
    text-decoration: line-through;
}



/*Tablets*/
@media (min-width: 426px) {

    article.card {
        width: 45%;
    }

    .card-img {
        min-height: 230px;
        min-width: 230px;
        max-width: 231px;
        max-height: 231px;
    }

}

/*Laptop*/
@media (min-width: 769px) {
    main section article.card {
        width: 24%;
    }

    h2 {
        font-size: 25px;
    }

    .card-img {
        min-height: 180px;
        min-width: 180px;
        max-width: 181px;
        max-height: 181px;
    }

    main section article.card h2 {
        font-size: 23px;
    }

    article.card:hover {
        box-shadow: 0px 0px 8px 4px var(--platinum);
        -webkit-box-shadow: 0px 0px 8px 4px var(--platinum);
        -moz-box-shadow: 0px 0px 8px 4px var(--platinum);
    }

    article.card h4,
    article.card p {
        font-size: 17px;
    }

    article.card h3 {
        font-size: 21px;
    }

    article.card button:hover {
        border-color: var(--blue);
        transition: 400ms;
    }

}