:root {
    --jet: #2e2e2e;
    --dark-liver: #4c4a52;
    --rythm: #79799a;
    --blue-yonder: #5b7395;
    --independence: #494562;
    --platinum: #E2E2E2;
    --blue: #2691d9;

}

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

/* logIn style */

.all-form {
    z-index: 10;
    position: relative;
    bottom: 400px;
    padding: 0 5%;
}

.form-banner img {
    width: 100%;
    height: 420px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    border-radius: 10px;
}

.all-form h1 {
    color: var(--platinum);
    text-align: center;
    padding: 0 0 20px 0;


}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .9s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blue);
    transition: .9s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: var(--blue);
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 25px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;

}

input[type="submit"]:hover {
    border-color: var(--blue);
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: var(--blue);
    text-decoration: none;
}

.signup_link a {
    text-decoration: underline;
}



/*  register  style */
.form-banner-register img {
    width: 100%;
    height: 710px;
}

.all-form-register {
    z-index: 10;
    position: relative;
    bottom: 677px;
    padding: 0 5%;
}

.all-form-register h1 {
    color: var(--platinum);
    text-align: center;
    padding: 0 0 20px 0;


}

/*Tablets*/
@media (min-width: 426px) {

    article.card {
        width: 45%;
    }

    footer .footer-section {
        flex-wrap: wrap;
        background: none;
    }

    .social-media {
        width: 100%;
        margin: 15px 0;
    }

    .contact-info {
        width: 100%;
        margin: 15px 0;
    }

    footer .footer-section .social-media ul {
        justify-content: space-evenly;
    }

    footer .footer-section .contact-info ul {
        justify-content: space-between;
    }

    footer .footer-section .social-media ul li {
        margin: 5px 0;
        width: 10%;
    }

    footer .footer-section .social-media ul .licenter {
        margin: 5px 0;
        width: 10%;
    }

    footer .footer-section .contact-info ul li {
        justify-content: center;
        margin: 5px;
        width: 30%;
    }

    /* Carrito */

    main .product-cart h1 {
        font-size: 2em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-name {
        font-size: 1.5em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-description {
        font-size: 1.17em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-price {
        font-size: 1.5em;
    }

    main .product-cart .cart-container .added-to-cart .product-info i {
        font-size: 1.5em;
    }

    main .product-cart .price-container .delivery-adress {
        font-size: 1em;
    }

    main .product-cart .price-container .delivery-price {
        font-size: 1em;
    }

    main .product-cart .price-container .total-title {
        font-size: 1.5em;
    }

    main .product-cart .price-container .total-price {
        font-size: 1.5em;
    }

    /*Detalle de Producto*/
    main section article.detail{
        margin-top: 30px;
    }

    main section article.detail div.contenedor-detail{
        display: flex;
    }

    div.img-producto{
        width: 48%;
    }

    main section article.detail div.producto-info h2{
        font-size: 25px;
    }

    main section article.detail div.producto-info h3{
        font-size: 20px;
    }

    article.detail div.producto-info p{
        font-size: 18px;
    }
    
    article.detail div.descripcion{
        margin: 30px;
    }
    article.detail div.descripcion h3{
        font-size: 20px;
    }

    article.detail div.descripcion ul li{
        margin: 5px;
        font-size: 17px;
    }
}

/*Laptop*/
@media (min-width: 769px) {
    main section article.card {
        width: 24%;
    }

    h2 {
        font-size: 25px;
    }

    main section article.card h2 {
        font-size: 23px;
    }

    article.card:hover {
        box-shadow: 0px 0px 8px 4px var(--platinum);
        -webkit-box-shadow: 0px 0px 8px 4px var(--platinum);
        -moz-box-shadow: 0px 0px 8px 4px var(--platinum);
    }

    article.card h4,
    article.card p {
        font-size: 17px;
    }

    article.card h3 {
        font-size: 21px;
    }

    article.card button:hover {
        border-color: var(--blue);
        transition: 400ms;
    }

    /*Detalle de Producto*/

    main section article div div.producto-info p{
        margin: 10px 0px 10px 0px;
    }

    article.detail div.contenedor-detail button:hover {
        border-color: var(--blue);
        transition: .5s;
    }

}