:root {
    --jet: #2e2e2e;
    --dark-liver: #4c4a52;
    --rythm: #79799a;
    --blue-yonder: #5b7395;
    --independence: #494562;
    --platinum: #E2E2E2;
    --blue: #2691d9;
    
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--jet);
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
}

h2{
    font-size: 20px;
}

.logo {
    background-color: var(--independence);
    border-radius: 20px;
    width: 250px;
    margin: 10px auto;
    padding: 0 10px;

}

.logo img {
    display: block;
    width: 100%;
    margin: 15px auto;
}

nav {
    display: flex;
    font-size: 10px;
    margin: auto;
    width: 100%;
    background-color: var(--dark-liver);
    color: var(--platinum);
    border-radius: 20px 20px 0 0;
    padding: 1% 0;
}

.nav-left, .nav-right {
    display: flex;
    width: 50%;
}

.nav-right{
    justify-content: flex-end;
}

nav .sites{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .sites li.nav-icons{
    margin: 0 10px;
}

nav .sites .search-bar{
    display: flex;
    align-items: center;
}

nav .sites .search-bar input{
    float: right;
    background-color: var(--platinum);
    border: 0;
    border-radius: 5px;
    width: 0%;
    height: 2em;
    transition: all 300ms;
}

nav .sites .search-bar:hover input{
    width: 150%;
    padding: 0 5px;
}

nav .sites .search-bar input:focus{
    width: 150%;
    padding: 0 5px;
}

nav .fa-bars {
    font-size: 3em;
    margin-left: 10px;
}

nav .fa-cart-shopping {
    font-size: 2.625em;
    margin-right: 10px;
    padding-top: 2.5px;
    text-decoration: none;
    color: var(--platinum);
}

nav button{
    background: none;
    border: none;
    padding-top: 1.5px;
}

nav button .fa-search{
    font-size: 2em;
    padding-top: 1.5px;
    color: var(--platinum);
    text-decoration: none;
}

nav .fa-user {
    font-size: 2.625em;
    padding-top: 1.5px;
    color: var(--platinum);
    text-decoration: none;
}

.nav-icons-href {
    content: 24.5px;
    text-decoration: none;
    width: 20px;
}

.banner img {
    display: block;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

main section div.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    color: var(--platinum);
    padding: 10px;
    /* text-align: center; */
    border: solid 2px var(--dark-liver);
    border-radius: 20px;
    margin: 15px 0;
    width: 100%;
    transition: box-shadow 0.5s;
}

.card-titulo {
    color: var(--platinum);
    margin: 20px 0 0;
}

.card-img {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
}

article.card .product-info{
    width: 100%;
    align-self: flex-end;
}

article.card button{
    align-self: flex-end;
    width: 90%;
    height: 40px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 20px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    margin: 15px;  
}

.card-price-normal{
    text-decoration: line-through;
}

footer .footer-section p{
    color: var(--platinum);
    font-size: 12px;
}

footer .footer-section i{
    color: var(--platinum);
    font-size: 2em;
}

footer{
    background-color: var(--dark-liver);
    border-radius: 20px;
    padding: 1%;
    margin: 20px 0;
}

footer .footer-section{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(var(--platinum), var(--platinum)) no-repeat 45% /2px 100%;
}

.social-media{
    width: 40%;
}

.contact-info{
    width: 50%;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
}

footer .footer-section .social-media ul{
    justify-content: center;
}

footer .footer-section .contact-info ul{
    justify-content: flex-start;
    text-align: left;
}

footer .footer-section .social-media ul li{
    margin: 5px 0;
    width: 50%;
}

footer .footer-section .social-media ul .licenter{
    margin: 5px;
    width: 90%;
}

footer .footer-section .contact-info ul li{
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
}

footer .footer-section .contact-info i.fa-whatsapp{
    margin: 0 12px;
}

footer .footer-section .contact-info i.fa-envelope{
    margin: 0 10px;
}

footer .footer-section .contact-info i.fa-location-dot{
    margin: 0 14px;
}




/* logIn style */

.all-form{
    z-index: 10;
    position: relative;
    bottom: 400px;
    padding: 0 5%;
}

.form-banner img{
    width: 100%;
    height: 420px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    border-radius: 10px;
}

.all-form h1{
    color: var(--platinum);
    text-align: center;
    padding: 0 0 20px 0;
    
    
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad; 
    margin: 30px 0 ;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px; 
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .9s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blue);
    transition: .9s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: var(--blue);
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 25px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;

}

input[type="submit"]:hover{
    border-color: var(--blue);
    transition: .5s;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: var(--blue);
    text-decoration: none;
}

.signup_link a{
    text-decoration: underline;
}



/*  register  style */
.form-banner-register img{
    width: 100%;
    height: 710px;
}

.all-form-register {
    z-index: 10;
    position: relative;
    bottom: 677px;
    padding: 0 5%;
}

.all-form-register h1{
    color: var(--platinum);
    text-align: center;
    padding: 0 0 20px 0;
    
    
}

/*Cart*/

.nav-cart {
    border-radius: 20px;
}

main .product-cart{
    text-align: left;
    color: var(--platinum);
}

main .product-cart h1{
    margin: 10px 30px;
}

main .product-cart .cart-container{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--platinum);
    border-radius: 20px;
}

main .product-cart .cart-container .added-to-cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .product-cart .cart-container .added-to-cart img{
    width: 30%;
    border-radius: 10px;
}

main .product-cart .cart-container .added-to-cart .product-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

main .product-cart .cart-container .added-to-cart .product-info .product-name{
    width: 60%;
    align-self: center;
}

main .product-cart .cart-container .added-to-cart .product-info .product-description{
    width: 60%;
    align-self: center;
}

main .product-cart .cart-container .added-to-cart .product-info .product-price{
    width: 40%;
    text-align: right;
    align-self: center;
}

main .product-cart .cart-container .added-to-cart .product-info i{
    align-self: flex-end;
}

main .product-cart .cart-container hr{
    width: 100%;
    margin: 10px 0;
    border: 1px solid var(--platinum);
}

main .product-cart .price-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--platinum);
    border-radius: 20px;
    justify-content: space-between;
    align-content: space-between;
}

main .product-cart .price-container .delivery-adress{
    width: 60%;
    margin-bottom: 5px;
}

main .product-cart .price-container .delivery-price{
    width: 40%;
    text-align: right;
    margin-bottom: 5px;
}

main .product-cart .price-container .total-title{
    width: 60%;
    margin-top: 5px;
}

main .product-cart .price-container .total-price{
    width: 40%;
    text-align: right;
    margin-top: 5px;
}

main .product-cart .button-div{
    display: flex;
    justify-content: right;
}

main .product-cart .button-div button{
    display: flex;
    width: 160px;
    height: 40px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 20px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    justify-content: space-evenly;
    align-items: center;
}


/*Estilo Detalle de producto*/
/* main section article.detail{
    display: flex;
} */

article.detail{
   margin: 15px 0px 15px 0px;
}

 main section article div.img-producto{
    margin: auto;
    width: 95%;
 }

main section article div.producto-info{
    width: 95%;
    margin: auto;
}

div h2.card-name-producto{
    margin-bottom: 10px;
    color: var(--platinum);
}

div h3.card-price-producto{
    color: var(--platinum);
    margin-top: 10px;
}

div.producto-info p{
    color: var(--platinum);
    margin: 0px 0px 10px 0px;
}

div.producto-info p.icono{
    color: #76b8e4;
}

div.producto-info p.icono i{
    margin: 5px;
}

article.detail div button {
    align-self: flex-end;
    width: 90%;
    height: 40px;
    border: 2px solid var(--platinum);
    background: var(--blue);
    border-radius: 20px;
    font-size: 18px;
    color: var(--platinum);
    font-weight: 700;
    outline: none;
    margin: 15px;
}

article.detail div.descripcion{
    text-align: center;
    margin: 15px;
    line-height: 25px;
    color: var(--platinum);
}

article.detail div.descripcion h3{
    margin-bottom: 10px;
}



/*Tablets*/
@media (min-width: 426px) {

    article.card {
        width: 45%;
    }

    footer .footer-section{
        flex-wrap: wrap;
        background: none;
    }

    .social-media{
        width: 100%;
        margin: 15px 0;
    }
    
    .contact-info{
        width: 100%;
        margin: 15px 0;
    }

    footer .footer-section .social-media ul{
        justify-content: space-evenly;
    }

    footer .footer-section .contact-info ul{
        justify-content: space-between;
    }

    footer .footer-section .social-media ul li{
        margin: 5px 0;
        width: 10%;
    }
    
    footer .footer-section .social-media ul .licenter{
        margin: 5px 0;
        width: 10%;
    }

    footer .footer-section .contact-info ul li{
        justify-content: center;
        margin: 5px;
        width: 30%;
    }

    /* Carrito */

    main .product-cart h1{
        font-size: 2em;
    }

    main .product-cart .cart-container .added-to-cart .product-info .product-name{
        font-size: 1.5em;
    }
    
    main .product-cart .cart-container .added-to-cart .product-info .product-description{
        font-size: 1.17em;
    }
    
    main .product-cart .cart-container .added-to-cart .product-info .product-price{
        font-size: 1.5em;
    }
    
    main .product-cart .cart-container .added-to-cart .product-info i{
        font-size: 1.5em;
    }

    main .product-cart .price-container .delivery-adress{
        font-size: 1em;
    }
    
    main .product-cart .price-container .delivery-price{
        font-size: 1em;
    }
    
    main .product-cart .price-container .total-title{
        font-size: 1.5em;
    }
    
    main .product-cart .price-container .total-price{
        font-size: 1.5em;
    }
}

/*Laptop*/
@media (min-width: 769px) {
    main section article.card {
        width: 24%;
    }

    h2{
        font-size: 25px;
    }

    main section article.card h2{
        font-size: 23px;
    }

    article.card:hover{
        box-shadow: 0px 0px 8px 4px var(--platinum);
        -webkit-box-shadow: 0px 0px 8px 4px var(--platinum);
        -moz-box-shadow: 0px 0px 8px 4px var(--platinum);
    }

    article.card h4, article.card p {
        font-size: 17px;
    }

    article.card h3{
        font-size: 21px;
    }
    
    article.card button:hover{
        border-color: var(--blue);
        transition: .5s;
    }
}
