:root {
    --jet: #2e2e2e;
    --dark-liver: #4c4a52;
    --rythm: #79799a;
    --blue-yonder: #5b7395;
    --independence: #494562;
    --platinum: #E2E2E2;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--jet);
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
}

h2{
    font-size: 18px;
}

.logo {
    background-color: var(--independence);
    border-radius: 20px;
    width: 250px;
    margin: 10px auto;

}

.logo img {
    display: block;
    width: 250px;
    margin: 10px auto;
}

nav {
    margin: auto;
    width: 100%;
    background-color: var(--dark-liver);
    color: var(--platinum);
    border-radius: 20px 20px 0 0;
    padding: 1% 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 10px;
}

header nav ul {
    display: flex;
}

header nav ul li{
    margin-left: 60px;
    margin-right: 60px;
}

nav .fa-bars {
    font-size: 2em;
    margin-left: 20px;
}

nav .fa-cart-shopping {
    font-size: 1.75em;
    margin-right: 20px;
    padding-top: 2.5px;
}


nav .fa-user {
    font-size: 1.75em;
    margin-left: 5px;
    padding-top: 1.5px;
    color: var(--platinum);
    text-decoration: none;
}

.nav-icons-href {
    content: 24.5px;
    text-decoration: none;
    width: 20px;
}

.banner img {
    display: block;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

main section div.container{
    display: flex;
    flex-wrap: wrap;
}

article.card {
    margin: auto;
    color: var(--platinum);
    padding: 10px;
    text-align: center;
    border: solid 2px var(--dark-liver);
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    width: 40%;

}

.card-titulo {
    color: var(--platinum);
    padding: 10px;
}

.card-img {
    width: 80%;
    border-radius: 10px;
}

button {
    color: var(--platinum);
    background-color: var(--rythm);
    font-size: 15px;
    border: solid var(--platinum) 1px;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    margin: 10px;
}










/* logIn style */
.form {
    z-index: 10;
    top: auto;
    position: relative;
    bottom: 485px;
    padding: 0 40px;
}

.forms-data-titles {
    color: var(--platinum);
    display: flex;
    margin-left: 21px;
    margin-bottom: 11px;
    margin-top: 11px;
    font-size: 1.3em;
}
.forms-userData-style{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}


.forms-userData-inputs {
    width: 90%;
    padding: 0 5px;
    height: 40px;
    font-size: 1.5em;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.forms-userData-style label{
    color: white;
}

.form-banner{
    height: 500px;
    width: 90%;
    border-radius: 0 0 20px 20px;
}

.fa-right-to-bracket{
    color: var(--platinum);
}

.fa-lock{
    color: var(--platinum);
}

.forms-data-forgotPass{
    color: white;
}

.singin-up{
    color: white;
}


@media screen and () {
    
}