html, body {
    height: 85%;
}

main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px; 
}

footer, .push {
    height: 170px; 
}

.paginadorStyle {
    border: 2px solid var(--platinum);
    border-radius: 20px;
    font-size: 17px;
    color: var(--platinum);
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    background: #2691d9;
}
