<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolHardware</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class = "logo">
            <a href="/"><img src = "images/logo.svg" alt = "logo-banner"></a>
        </div>
        <nav class="nav-cart">
            <section class="nav-left">
                <ul class="sites">
                    <li class="nav-icons"><i class="fas fa-bars"></i></li>
                    <li class="nav-icons"><a class="nav-icons-href" href="/login"><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </section>
            <section class="nav-right">
                <ul class="sites">
                    <div class="search-bar">
                        <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                        <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                    </div>
                    <li class="nav-icons"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </section>
        </nav>
    </header>
    <main>
        <section class="product-cart">
            <h1>Tu carrito (3)</h1>
            <div class="cart-container">
                <section class="added-to-cart">
                    <img src="images/monitor.jpg" alt="">
                    <section class="product-info">
                        <h3 class="product-name">Asus TUF 25"</h3>
                        <h3 class="product-price">$160.000</h3>
                        <h4 class="product-description">Color: Matte Black</h4>
                        <i class="fa-solid fa-trash-can"></i>
                    </section>
                </section>
                <hr>
                <section class="added-to-cart">
                    <img src="images/notebook.jpg" alt="">
                    <section class="product-info">
                        <h3 class="product-name">Asus TUF Gaming</h3>
                        <h3 class="product-price">$380.000</h3>
                        <h4 class="product-description">Color: Slate Gray</h4>
                        <i class="fa-solid fa-trash-can"></i>
                    </section>
                </section>
                <hr>
                <section class="added-to-cart">
                    <img src="images/microcesador.jpg" alt="">
                    <section class="product-info">
                        <h3 class="product-name">AMD Ryzen 7</h3>
                        <h3 class="product-price">$60.000</h3>
                        <h4 class="product-description">Color: -</h4>
                        <i class="fa-solid fa-trash-can"></i>
                    </section>
                </section>
            </div>
            <div class="price-container">
                <h5 class="delivery-adress">Envío a Calle #, Localidad, Pcia.</h5>
                <h5 class="delivery-price">$1.000</h5>
                <h2 class="total-title">Total a pagar</h2>
                <h2 class="total-price">$601.000</h2>
            </div>
            <div class="button-div">
                <button>Continuar<i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-section">
            <section class="social-media">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-telegram"></i></li>
                    <li class="licenter"><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </section>
            <section class="contact-info">
                <ul class="contact-info-i">
                    <li><i class="fa-brands fa-whatsapp"></i><p>11 1234-5678</p></li>
                    <li><i class="fa-solid fa-location-dot"></i><p>Calle 123, CABA, Argentina</p></li>
                    <li><i class="fa-solid fa-envelope"></i><p>info@coolhard.com</p></li>
                </ul>
            </section>    
        </section>
    </footer>
</body>

</html>