<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolHardware</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class = "logo">
        <a href="/"><img src = "images/logo.svg" alt = "logo-banner"></a>
    </div>
    <nav>
        <section class="nav-left">
            <ul class="sites">
                <li class="nav-icons"><i class="fas fa-bars"></i></li>
                <li class="nav-icons"><a class="nav-icons-href" href="/login"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </section>
        <section class="nav-right">
            <ul class="sites">
                <div class="search-bar">
                    <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                    <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                </div>
                <li class="nav-icons"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </section>
    </nav>
    <div class="banner">
        <img src="images/black-friday-banner.webp" alt="banner">
    </div>
</header>
    <main>
        <section>
                <article class="detail">
                    <div class="img-producto">
                        <img class="card-img" src="images/notebook.jpg" alt="">
                    </div>
                    
                    <div class="producto-info">
                        <h2 class="card-name-producto">Notebook Asus TUF Gaming</h2>
                        <hr style="border-color:gray">
                        <h3 class="card-price-producto">$380.000</h3>
                        <p>Precio especial</p>
                        <hr style="border-color:gray">
                        <p class="icono"><i class="fas fa-shield-alt"></i>Garantia 12 meses.</p>
                        <p class="icono"><i class="fas fa-check"></i>Stock disponible.</p>
                        <p class="icono"><i class="fas fa-truck"></i>Envíos a todo el país.</p>
                        <hr style="border-color:gray">
                        <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>
                        <hr style="border-color:gray">
                    </div>
                    
                    <div class="descripcion">
                        <h3>CARACTERISTICAS GENERALES:</h3>
                        <ul>
                            <li>Almacenamiento: SSD 512Gb.</li>
                            <li>Conectividad: Wi-Fi</li>
                            <li>Graficos: Nvidia GTX 1650 4GB.</li>
                            <li>Memoria Ram: 8 Gigas.</li>
                            <li>Pantalla: 15,6".</li>
                            <li>Procesador: Itel Core I5.</li>
                            <li>Sistema Operativo: Windows 10.</li>
                            <li>Uso Recomendado: Gaming</li>
                        </ul> 
                    </div>
                    <hr style="border-color:gray">
                </article>      
        </section>

    </main>
    <footer>
        <section class="footer-section">
            <section class="social-media">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-telegram"></i></li>
                    <li class="licenter"><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </section>
            <section class="contact-info">
                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i><p>11 1234-5678</p></li>
                    <li><i class="fa-solid fa-envelope"></i><p>info@coolhard.com</p></li>
                    <li><i class="fa-solid fa-location-dot"></i><p>Calle 123, CABA, Argentina</p></li>
                </ul>
            </section>    
        </section>
    </footer>
</body>

</html>