<header>
    <div class = "logo">
        <a href="/admin"><img src = "/images/logo.svg" alt = "logo-banner"></a> 
    </div>
    <div class="adminbuttom"><a href="/"><i class="fa-solid fa-screwdriver-wrench" style="color: var(--blue);"></i></a></div>
    <nav>
        <section class="nav-left">
            <ul class="sites">
                <li class="nav-icons"><a href="/admin/list"><i class="fas fa-bars"></i></a></li>
                <li class="nav-icons"><a href="/admin/userAdmin"><i class="fa-solid fa-user-secret"></i></a></li>
            </ul>
        </section>
        <section class="nav-right">
            <ul class="sites">
                <div class="search-bar">
                    <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                    <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                </div>
                <li class="nav-icons"><a href="/admin/createProduct"><i class="fa-solid fa-plus"></i></a></li>
            </ul>
        </section>
    </nav>