<header>
    <div class = "logo">
        <a href="/admin"><img src = "/images/logo.svg" alt = "logo-banner"></a> 
    </div>
    <div class="adminbuttom"><a href="/"><i class="fa-solid fa-screwdriver-wrench" style="color: var(--blue);"></i></a></div>
    <nav>
        <section class="nav-left">
            <ul class="sites">
                <nav class="esp-nav">
                    <section class="nav-container">
                        <label for="menu" class="nav-label">
                            <li class="nav-icons"><i class="fas fa-bars"></i></a></li>
                        </label>
                        <input type="checkbox" name="menu" id="menu" class="nav-checkbox">
                        <section class="nav-menu">
                            <a href="/admin/list" class="nav-item">Productos</a>
                            <a href="/admin/userAdmin" class="nav-item">User List</a>
                        </section>
                    </section>
                </nav>
                <% if (locals.isLogged) { %>
                    <li class="user-avatar"><img src="/images/users/<%= locals.userLogged.image %>"></li>
                    <li class="user-name"><h2><%= locals.userLogged.nickname %></h2></li>
                    <li class="nav-icons"><a class="nav-icons-href" href="/user/logout"><i class="fa-solid fa-power-off"></i></a></li>
                <% } else { %>
                    <li class="nav-icons"><a class="nav-icons-href" href="/user/login"><i class="fa-solid fa-user"></i></a></li>
                <% } %>
            </ul>
        </section>
        <section class="nav-right">
            <ul class="sites">
                <div class="search-bar">
                    <li class="nav-input"><input type="text" placeholder="Buscar aquí"></li>
                    <li class="nav-icons"><button><i class="fas fa-search"></i></button></i></li>
                </div>
                <li class="nav-icons"><a href="/admin/createProduct"><i class="fa-solid fa-plus"></i></a></li>
            </ul>
        </section>
    </nav>