<footer>
    <section class="footer-section">
        <section class="social-media">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                <li class="licenter"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </section>
        <section class="contact-info">
            <ul class="contact-info-i">
                <li><i class="fa-brands fa-whatsapp"></i><p>11 1234-5678</p></li>
                <li><i class="fa-solid fa-location-dot"></i><p>Calle 123, CABA, Argentina</p></li>
                <li><i class="fa-solid fa-envelope"></i><p>info@coolhard.com</p></li>
            </ul>
        </section>    
    </section>
</footer>