<%- include('../partials/head', {title: 'Ingresá', stylesheets: ["/css/form.css", "/css/header.css", "/css/footer.css"]}) %>

<body>
    <%- include('../partials/header') %>
</header>

    <main class="all-form">
        <!-- register form -->
        <div class="center"></div>
        <h1>Inicio de sesion</h1>
        
        <form action="/user/login" method="POST">
            <div class="txt_field">
                <input type="text" name="user" id="user" required>
                <span></span>
                <label> Nombre de usuario</label>
            </div>
            
            <div class="txt_field">
                <input type="password" name="pass" id="pass" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <% if (locals.error) { %>
                <p><%= error %></p>
            <% } %>
            <div class="pass">Olvidaste tu contraseña?</div>
            <input type="submit" value="Ingresa">
            <div class="signup_link">
                No tenes cuenta? <a href="/user/register">Crea tu cuenta</a>
            </div>
            

        </form>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>
