<%- include('../partials/head', {title: 'Cre치 tu cuenta', stylesheets: ["/css/admin.css","/css/form.css", "/css/header.css", "/css/footer.css"]}) %>

<body>
    <%- include('../partials/header') %>  
        <div class="form-banner-register">
            <img src="/images/background-black-design-14.webp" alt="banner">
        </div>
    </header>

    <main class="all-form-register">
        <!-- register form -->
        <div class="center"></div>
        <h1>Crea tu cuenta</h1>

        <form action="/user/register" method="POST" enctype="multipart/form-data">
            <!-- Username -->
            <div class="txt_field">
                <input type="text" name="firstname" required>
                <span></span>
                <label> Nombre</label>
            </div>
            <!-- Nombre y apellido -->
            <div class="txt_field">
                <input type="text" name="lastname" required>
                <span></span>
                <label> Apellido</label>
            </div>
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label> Nombre de usuario</label>
            </div>
            <!-- email -->
            <div class="txt_field">
                <input type="text" name="email" required>
                <span></span>
                <label> Email</label>
            </div>
            <!-- pass -->
            <div class="txt_field">
                <input type="password" name="pass" required>
                <span></span>
                <label>Contrase침a</label>
            </div>
            <div class="txt_field">
                <input type="password" name="passconfirm" required>
                <span></span>
                <label>Confirmar Contrase침a</label>
            </div>
            <!-- image -->
            <!-- <div class="txt_field">
                <input type="file" name="avatar" required>
                <span></span>
                <label>Im치gen</label>
            </div> -->
            <div class="up-load">
                <button type="button" class="btn-warning">
                    <i class="fa-solid fa-file-arrow-up"></i> Subir imagen del producto
                    <input type="file" name="avatar">
                </button>
            </div>

            <input type="submit" value="Ingresa" >
            <div class="signup_link">
                Ya estas registrado? <a href="/user/login">Inicia sesion</a>
            </div>
            


        </form>
    </main>
    <%- include('../partials/footer') %>  
</body>

</html>
