<%- include('../partials/head') %>  

<body>
    <%- include('../partials/header') %>  
    <div class="banner">
        <img src="images/black-friday-banner.webp" alt="banner">
    </div>
</header>
    <main>
        <section>
                <article class="detail">
                    <div class="img-producto">
                        <img class="card-img" src="images/notebook.jpg" alt="">
                    </div>
                    
                    <div class="producto-info">
                        <h2 class="card-name-producto">Notebook Asus TUF Gaming</h2>
                        <hr style="border-color:gray">
                        <h3 class="card-price-producto">$380.000</h3>
                        <p>Precio especial</p>
                        <hr style="border-color:gray">
                        <p class="icono"><i class="fas fa-shield-alt"></i>Garantia 12 meses.</p>
                        <p class="icono"><i class="fas fa-check"></i>Stock disponible.</p>
                        <p class="icono"><i class="fas fa-truck"></i>Envíos a todo el país.</p>
                        <hr style="border-color:gray">
                        <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>
                        <hr style="border-color:gray">
                    </div>
                    
                    <div class="descripcion">
                        <h3>CARACTERISTICAS GENERALES:</h3>
                        <ul>
                            <li>Almacenamiento: SSD 512Gb.</li>
                            <li>Conectividad: Wi-Fi</li>
                            <li>Graficos: Nvidia GTX 1650 4GB.</li>
                            <li>Memoria Ram: 8 Gigas.</li>
                            <li>Pantalla: 15,6".</li>
                            <li>Procesador: Itel Core I5.</li>
                            <li>Sistema Operativo: Windows 10.</li>
                            <li>Uso Recomendado: Gaming</li>
                        </ul> 
                    </div>
                    <hr style="border-color:gray">
                </article>      
        </section>

    </main>
    <%- include('../partials/footer') %>  
</body>

</html>